.header {
    display: flex;
    flex-direction: column;
    background-color: blue;
    color: blueviolet;
    font-size: 35px;
    padding: 10px;

        @include desktop {
        color: red;
    }
    &__title {
        font-size: 40px;
        font-weight: 800;
    }
}
