/* Base */

/* Reset and base styles  */

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font: inherit inherit;
  background: transparent;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  background: transparent;
  display: inline-block;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--page-bg);
  color: var(--text-color);
  font-family: var(--font-main);
  background: url("./../../img/01-big.jpg");
  width: 600px;
}

img {
  display: block;
}

a {
  color: var(--link-color);
}

code {
  background: #e9f1f6;
  padding: 0.2rem;
  border-radius: 4px;
}

pre.code {
  background: #e9f1f6;
  overflow-x: auto;
  padding: 1rem;
  border-radius: 4px;
}

/* blocks */

.footer {
  background: blue;
  color: white;
}

.header {
  background: blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: white;
}

@supports (-webkit-appearance:none) {
  body {
    background: url("./../../img/01-big.webp");
  }
}

@media (max-width: 1199px) {
  .footer {
    color: red;
  }

  .header {
    color: red;
  }

@supports (-webkit-appearance:none) {

}
}